*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'PT Sans', sans-serif;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.header-section{
    background-color: #fcdb00;
    padding-bottom: 30px;
}
.container{
    width: 1000px;
    margin: 0px auto;
}
.header-part{
    padding: 50px 0 50px 0;
}
.logo{
    flex-basis: 20%;
    max-width: 20%;
}
.logo a{
    display: inline-block;
}
.logo a img{}

.navbar{
    flex-basis: 80%;
    max-width: 80%;
    padding-top: 5px;
}
.navbar ul{list-style-type: none;text-align: end;}
.navbar ul li{display: inline-block;padding: 0px 30px;}
.navbar ul li a{
    text-decoration: none;
    color: #010101;
    font-size: 25px;
    display: block;
    font-weight: 700;
}
.navbar ul li a:hover{
}

.slider-section{}
.slider-content{
    flex-basis: 50%;
    max-width: 50%;
    padding-right: 70px;
}
.slider-content h1{
    font-size: 35px;
}
.align-center{
    align-items: center;
}
.slider-content h3{
    font-size: 23px;
    max-width: 90%;
    color: #444444;
    padding: 20px 0px;
}
.slider-content p{
    font-size: 18px;
    text-align: justify;
    color: #444;
}
.slider-content ul{
    display: flex;
    list-style-type: none;
    font-size: 60px;
}
.slider-content ul li{
    padding: 15px 30px 0 0;
}
.slider-content ul li i{}

.slider-image{
    padding-left: 70px;
}

.bullet-list{}
.bullet-list ul{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.bullet-list ul li{
    list-style: none;
    padding: 5px;
}
.bullet-list ul li a{
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 30px;
    background-color: #dedede;
}
.bullet-list ul li a:hover{
    background-color: #ffffff;
}

.features-section{
    padding: 50px;
}
.features{
    text-align: center;
}
.features h1{
    font-size: 35px;
    margin-bottom: 15px;
}
.features p{
    font-size: 18px;
    margin-bottom: 50px;
}

.col{
    flex-basis: 33.33%;
    max-width: 33.33%;
    padding: 0px 40px 50px 0px;
    box-sizing: border-box;
}
.features-icon{
    flex-basis: 20%;
    max-width: 20%;
    font-size: 40px;
}
.features-content{
    flex-basis: 80%;
    max-width: 80%;
}
.features-content h2{}
.features-content p{
    margin-top: 10px;
}

.footer-section{
    background-color: #000;
    padding: 50px;
}
.subs-section{
    text-align: center;
}
.subs-section h1{
    color: #fcdb00;
    font-size: 35px;
}
.subs-section p{
    color: #fff;
    width: 90%;
    margin: auto;
    padding: 15px;
    font-size: 20px;
}

form{
    padding: 50px;
}
.mail-input{
    flex-basis: 80%;
    max-width: 80%;
    box-sizing: border-box;
}
.mail-input input{
    width: 100%;
    padding: 12px 15px;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 10px;
}

.submit-btn{
    flex-basis: 20%;
    max-width: 20%;
    padding-left: 10px;
    box-sizing: border-box;
}
.submit-btn input{width: 100%;padding: 12px;font-size: 18px;box-sizing: border-box;border: 1px solid;cursor: pointer;border-radius: 10px;font-weight: bold;}
.submit-btn input:hover{
    background-color: transparent;
    color: #fcdb00;
    border: 1px solid;
    border-radius: 10px;
}

ul.social-icon{
    display: flex;
    justify-content: center;
}
ul.social-icon li{
    list-style: none;
    padding: 10px 25px;
}
ul.social-icon li a{
    font-size: 40px;
    color: #fcdb00;
}
ul.social-icon li a:hover{}
.address{
    flex-basis: 30%;
    max-width: 30%;
}

address{
    color: #fff;
    font-style: initial;
}

.footer-col{
    flex-basis: auto;
    max-width: 100%;
    flex-grow: 1;
}
.footer-sec{
    padding-top: 50px;
}
.footer-col ul{}
.footer-col ul li{
    list-style: none;
}
.footer-col ul li a{
    text-decoration: none;
    color: #f0f2f4;
}
.footer-col ul li a:hover{
    color: #fcdb00;
}